.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  /* display: grid; */
  width: 390px;
  height: 390px;
  padding: 10px;
}
.product .img-container {
  overflow: hidden;
  object-fit: cover;
}

.product img {
  width: 200px;
  height: 100%;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  gap: 1rem;
  padding: 1rem;
  border: 1px solid white;
}

.product-detail-title {
  border: 1px solid white;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.product-detail-info {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
}

.product-detail-price {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}


